@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,400italic,600,600italic,700italic,800italic');



.content-container{
    height: 650px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.content-container a{
    color: #800;
}
.content-container p{
    color: #555555;
    font-size: 12px;
    margin-top: 10px;
}

@media only screen and (min-width: 280px) and (max-width: 640px) {
    .navres {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .navigation {
        width: 100%;
        display: flex;
        margin: 0;
        margin-left: 0%;
        margin-right: 0%;
    }

    .content-text {
        height: 650px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .footerMargin {
        width: 100%;
    }

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid #800;
}

.content-text {
    height: 650px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.announcements {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: auto;
    width: 320px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.content {
    height: 600px;
    box-sizing: border-box;
}

.content-text a {
    color: #800;
}

.content-text p {
    color: #555555;
    font-size: 12px;
    margin-top: 10px;
}

.img-content img {
    border-radius: 10px;
}

.announcements a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .content-text {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .content-container-container {
        flex-direction: column;
        align-content: center;
    }

    .content {
        width: 100%;
    }

    .content-container {
        margin-bottom: 20px;
        height: auto;
        padding: 20px;
    }

    .announcements {
        width: 80%;
    }

    .img-container img {
        width: 100%;
        height: 600px;
    }

    .content-container h1,
    .content-container a,
    .content-container p {
        font-size: 36px;
    }

    .title {
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: 100px;
    }

    .hideSearch {
        display: none;
    }

}

.iconmargin {
    width: 100%;
}

.mouse:hover .mouse2 {
    background-color: #880000;
}

.mouse:hover .mouse3 {
    color: white;
}

.mouse:hover h4 {
    text-decoration: underline;
}

.mouse2 {
    font-size: 36px;
}

.yt {
    width: 750px;
    height: 570px;
}

.spot {
    width: 750px;
    height: 280px;
}

@media only screen and (min-width:1024px) and (max-width: 1280px) {

    .yt {
        width: 750px;
        height: 570px;
    }

    .spot {
        width: 750px;
        height: 280px;
    }
}


@media only screen and (max-width: 1280px) {
    .yt {
        width: 100%;
        height: 570px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .spot {
        width: 100%;
        height: 280px;
    }

    .music {
        margin-left: 1rem;
        margin-right: 1rem;


    }

    .embed-links {
        width: 100%;

    }

    .embedResponsive {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}



@media only screen and (max-width:1024px) {
    .tw {
        width: 100% !important;

    }

    .twtBox {
        overflow-x: auto;
        height: 820px !important;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .twitter-timeline {
        width: 100% !important;
        height: 820px;

    }

}


.twitter-timeline {
    width: 350px;
    margin: 0;
}


.twtBox {

    overflow-x: auto;
    height: 820px !important;

}

// .dropdown {
//     position: relative;
//     display: inline-block;
//   }

//   .dropdown-content {
//     display: none;
//     position: absolute;
//     z-index: 1;
//     background-color: #f9f9f9;
//     padding: 16px;
//     width: 200px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   }

//   .dropdown:hover .dropdown-content {
//     display: block;
//   }

//   .dropdown-content p {
//     margin: 0;
//   }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #ff0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    margin: 0;
    padding: 10px;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.dropdown-content p:hover {
    color: #ff0000;
    background-color: transparent;
}




.adminButton {
    height: 60px;
    width: 60px;
    background-color: #800;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.adminButton2 {
    height: 60px;
    width: 60px;
    background-color: #ffe499;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.adminButton i {
    font-size: 22px;
}

.adminButton2 i {
    font-size: 22px;
}

.adminButtons {
    position: absolute;
    width: 100%;
    bottom: 120%;
    text-align: center;
}

.adminButtons2 {
    position: absolute;
    width: 100%;
    bottom: 120%;
    text-align: center;
}

.adminButtons a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px auto 0;
    line-height: 1.15;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}

.adminButtons2 a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px auto 0;
    line-height: 1.15;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}


.adminButtons a:hover {
    transform: scale(1.05);
}

.adminButtons2 a:hover {
    transform: scale(1.05);
}


.messenger a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.up a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.messenger {
    position: fixed;
    bottom: 130px;
    right: 35px;
}

.up {
    position: fixed;
    bottom: 55px;
    right: 35px;
}


.icon {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #800;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(20px) saturate(168%);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    left: 0;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff url(https://www.pup.edu.ph/resources/images/photos/bg1.jpg);
    background-size: cover;
    position: fixed;
    width: 900px;
    height: 600px;
    left: 50%;
    top: 330px;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    animation: float-in .5s forwards;
    padding: 10px;
}

.btnCancel {
    border: none;
    display: flex;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    transform: rotate(45deg);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #000;
    opacity: .2;
}

.btnCancel:hover {
    opacity: .5;
}

.modal-content p {
    color: #666;
}

.modal-items-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 0 15px 0 15px;
}

.modal-links-container {
    transition: .2s;
}

.modal-links-container p {
    color: white;
}

.services-widget {
    position: fixed;
    bottom: 210px;
    right: 60px;
    z-index: 9999;
}


.container-body {
    width: 1170px;
    height: auto;
    padding-right: -15px;
    padding-left: -15px;
    margin-right: auto;
    margin-left: auto;
}

.body-font {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.contact-span {
    font-family: 'Noto Sans', sans-serif;
}

.blockquote {
    padding: 10px 20px;
    line-height: 2;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.blockquote-p {
    line-height: 2;
    font-size: 17.5px;
}

@media screen and (max-width: 280px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .icon-medium-effect {
        font-size: 24px;
    }

    .mouse3 {
        font-size: 24px;
    }

}